<head>
  <%= stylesheet_link_tag "main" %>
</head>
<body>
  <div id="menu">
    <ul>
      <li><a href="/changes">Izmjene</a></li>
      <li><a href="/subscriptions">Pretplata</a></li>
      <li><a href="/settings">Postavke</a></li>
    </ul>
  </div>
</body>