<head>
  <%= stylesheet_link_tag "main" %>
</head>
<body>
  
  <div id="menu">
    <ul>
      <li><a href="/changes">Izmjene za ucenike</a></li>
      <li><a href="/professors">Izmjene za profesore</a></li>
      <li><a href="/subscriptions">Pretplata</a></li>
      <li><a href="/settings">Postavke</a></li>
      <% if !logged_in %>
        <li><a href="/login">Prijava</a></li>
      <% else %>
        <li><a href="/logout">Odjava</a></li>
      <% end %>
    </ul>
  </div>
</body>