body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #fff;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #36304a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.error-message {
  color:red;
  font-weight:bold;
}

.container {
  margin: 100px;
  padding: 16px;
}
