* {
  font-family: Arial;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
}

input[type="text"] {
  font-size: 15px;
  width:50%;
  text-align: center;
}

input[type="button"] {
  text-align: center;
}